/*Don't change*/
body, html {
  height: 100%;
  font-family: 'Audiowide', cursive;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url("https://cdn.glitch.com/da665bf4-399a-4ab1-bf4f-fb0bd1f26e32%2F4a905860-4fd6-4385-918e-5fa73018d40b_avengers-endgame-china-poster-top.jpg?1555601835474");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#app {
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
}
header img{
  width: auto;
}

#background-container {
  background-color: rgba(0,0,0,.6);
  align-self: center;
  margin-top: 3vw;
  width: 60%;
  border-radius: 10px;
}

#container {
  color: white;
  padding: 5px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
}

input{
  width: 150px;
  color: red;
}
input:focus{
  border: 2px solid red;
}

.btn{
  padding: 20px;
  border: 0;
  border-radius: 10px;
  background-color: rgba(80,80,80,.6);
}

.btn:hover{
  background-color: rgba(150,150,150,.8);
}

.btn text{
  font-family: 'Audiowide', cursive;  
  color: white;
}


.btn-share{
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: rgba(80,80,80,.6);
  color: white;
  font-family: 'Audiowide', cursive;  
}

.btn-share:hover{
  color: white;
  background-color: rgba(150,150,150,.8);
}

form input{
  color: red;
}

.users-list{
  padding: 5px;
  color: white;
}

.user{
  color:white;
}




@media(max-width: 1000px){
  #background-container {
    width: 80%;
    padding: 0;
  }
}


@media(max-width: 700px){
  body, html{
    background-image: url("https://cdn.glitch.com/05772acb-e20d-4cb2-b545-a61ab6a2a14c%2Favengers_4___endgame__2019__poster_by_midiya42_dch7nw5-pre.jpg?1555527763108");
  }
  
  #background-container {
    width: 90%;
  }
  
  #container{
    padding: 0px;
  }
  
  header img{
    width: 80%
  }
}